.form-control{
	width: 40%;
}

.body {
	background-image: url(../images/roadtrip.jpg);
	background-repeat: repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.body > .container {
	background-color: #f8f8f8;
	margin-top: 20px;
	padding: 20px;
}

.trip-row{
	margin-top: 1%;
}


#parent_div_1{
    width:1000px;
    height:900px;
    float:left;
    margin-left: 5px;
}

#parent_div_2{
    width:5px;
    height:900;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
}

.child_div_1{
    float:left;
    margin-top: 20px;
}

.navbar {
	margin: 0px;
}

.navbar-fixed-bottom > * {
	padding: 5px;
	
}

form[action="logout"] {
	margin-top: 7px;
}

.heading {
	border-bottom: 1px solid #e7e7e7;
}

.login, .tripForm {
	padding-top: 20px;
}